<style>
    #culture_onglet {
        background-color: #ddd;
        margin: 2PX 0;
        padding: 0.25rem 0;
    }
    #culture_onglet span {
        background-color: #ddd;
        margin: 0 2px;
        padding: 0.125rem 0.5rem;
        cursor: pointer;
    }
    #culture_onglet a {
        text-decoration: none;
    }
    #culture_onglet span:hover {
        background-color: #ccc;
    }
</style>

<hr style="margin: 0;">
<div id="culture_onglet">
    <span id="travaux"><a href="travaux?lieu=<%= lieu %>&id_lieu=<%= id_lieu %>&culture=<%= culture %>&id_champs=<%= id_champs %>">Travaux</a></span>
    <span id="projet"><a href="projet?lieu=<%= lieu %>&id_lieu=<%= id_lieu %>&culture=<%= culture %>&id_champs=<%= id_champs %>git">Projet</a></span>
    <span id="champs_info"><a href="info?lieu=<%= lieu %>&id_lieu=<%= id_lieu %>&culture=<%= culture %>&id_champs=<%= id_champs %>">Champs info</a></span>
</div>
<hr style="margin: 0;">