
<ul>
    <li><a href="projet?lieu=<%= lieu %>&culture=<%= culture %>&id_champs=<%= id_champs %>">Projet</a></li>
    <li><a href="journal?lieu=<%= lieu %>&culture=<%= culture %>&id_champs=<%= id_champs %>">Journal des Travaux</a></li>
</ul>
