<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accueil</title>
</head>
<body>

    <div id="container">
        
        <%- include('../composants/page_head.ejs') %>

        <div id="page_body">

            <%- include('../composants/header.ejs') %>

            <div id="nav_laterale_container">
                <div id="nav_laterale_head">

                    <h2 id="nav_laterale_titre">Les champs</h2>

                    <div id="nav_laterale_plus">+</div>

                    <div id="form_container">
                        <form action="/" method="post" id="form">
                            <span id="form_fermeture">&times</span>
                            <br><br>
                            <div id="form_titre"></div>
                            <br>
                            <div id="form_content">
                                <input type="hidden" name="id" id="id">
                                <br><br>
                                <label for="localite">Localite</label><br>
                                <input type="text" name="localite" id="localite">
                                <br><br>
                                <label for="nombre_de_champs">Nombre de champs</label><br>
                                <input type="text" name="nombre_de_champs" id="nombre_de_champs">
                                <br><br>
                                <label for="cultures">Cultures</label><br>
                                <input type="text" name="cultures" id="cultures">
                                <br><br>
                                <input type="submit" id="submit" value="Submit">
                            </div>
                            
                        </form>
                    </div>
                    
                </div>
                <div id="nav_laterale_body">
                    <ol id="nav_laterale_list">
                        <% for(var i=0;i<data.length;i++) { %>
                            <li>
                                <span class="localite"><%= data[i].localite %></span> 
                                <span class="trois_points">&#8942;</span>
                                <div class="options_container" id="option_<%= i+1 %>">
                                    <div class="champs_options" id="option_<%= i+1 %>">
                                        <p class="modifier_champs" onclick="charger_form('<%= data[i].id %>','<%= data[i].localite %>','<%= data[i].nombre_de_champs %>','<%= data[i].cultures %>')">Modifier</p>
                                        <p class="supprimer_champs" onclick="supprimer('<%= data[i].id %>')">Supprimer</p>
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    </ol>
                </div>
            </div>

            <div id="asides_container">
                        
            </div>
        </div>
        <div id="page_foot"></div>

    </div>
    
    <%- include('../composants/script_accueil.ejs') %>
</body>
</html>