<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>champs_info</title>
    <link rel="stylesheet" href="css/champs_info.css">
    <link rel="stylesheet" href="css/culture.css">
    <link rel="stylesheet" href="css/class.css">
</head>
<body>
    
    <div id="container">
        
        <%- include('../public/composants/page_head.ejs') %>

        <div class="page_body">

            <%- include('../public/composants/header.ejs') %> 
            
            <h2 id="culture_titre">Champs de <%= culture %> de <%= lieu %></h2>
            <h3 class="culture_sous_titre" id="culture_info_titre">Champs No_<%= id_champs %></h3>
            <%- include('../public/composants/onglet.ejs') %> 
            <h1 id="depenses_titre">Infos</h1>

            <div class="culture_fiches" id="culture_fiche_info">
                <form action="#">


                    <label for="culture">Type de culture : </label>
                    <input type="text" name="culture" id="culture" value="<%= culture %>"><br>
                    
                    <label for="sous_prefecture">Lieu de la culture : </label>
                    <input type="text" name="village" id="village" value="<%= lieu %>">/ 
                    <input type="text" name="sous_prefecture" id="sous_prefecture" value="<%= data[0].sous_prefecture %>">/ 
                    <input type="text" name="prefecture" id="prefecture" value="<%= data[0].prefecture %>">/ 
                    <input type="text" name="province" id="province" value="<%= data[0].province %>"><br>

                    <label for="superficie">Superficie : </label>
                    <input type="text" name="superficie" id="superficie" value="<%= data[0].superficie %>"><br>

                    <label for="distance">Distance : </label>
                    <input type="text" name="distance" id="distance" value="<%= data[0].distance %>"> de <%= data[0].province %><br>

                    <label for="route">Etat de la route :</label>
                    <input type="text" name="route" id="route" value="<%= data[0].etat_de_route %>">

                </form>
            
            </div>
        </div>
    </div>
</body>
</html>