<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comptes</title>
    <link rel="stylesheet" href="css/comptes.css">
    <link rel="stylesheet" href="css/class.css">
    <link rel="stylesheet" href="css/culture.css">
</head>
<body>

    <div id="container">
        
        <%- include('../public/composants/page_head.ejs') %>
        <div class="page_body">

            <%- include('../public/composants/header.ejs') %> 

            <h1 id="culture_titre">Champs de <%= culture %> de <%= lieu %></h1>

            <div id="culture_onglet">
                <span id="champs_info"><a href="info?lieu=<%= lieu %>&culture=<%= culture %>&id_champs=<%= id_champs %>">Champs info</a></span>
                <span id="travaux"><a href="travaux?lieu=<%= lieu %>&culture=<%= culture %>&id_champs=<%= id_champs %>">Travaux</a></span>
                <span id="comptes"><a href="comptes?lieu=<%= lieu %>&culture=<%= culture %>&id_champs=<%= id_champs %>">Comptes</a></span>
            </div>

          <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
          
            <h3 id="culture_info_titre">Comptes du Champs No_<%= id_champs %></h3>

            <%- include('../public/composants/Journal.ejs') %>

        </div>
    </div>
</body>
</html>