<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cultures</title>
    <link rel="stylesheet" href="css/cultures.css">
    <link rel="stylesheet" href="css/class.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

    <div class="container">
        
        <%- include('../public/composants/page_head.ejs') %>
        
        <div class="page_body">
                
            <%- include('../public/composants/header.ejs') %> 
       
            <div id="champs_container">

                <h1 id="culture_titre">Les Champs de <%= culture %></h1> 

                <div class="reumes_des_champs">
                        
                    <table class="resunes_des_champs_table">

                        <% let total_superficie = 0; %>
                        <tr>
                            <th>No du Champs</th>
                            <th>Lieu de la culture</th>
                            <th>Superficie</th>
                        </tr>
                        <% for(let i=0; i<data.length; i++) { %>
                            <tr>
                                <td><%= data[i].id; %></td>
                                <td><%= data[i].lieu; %></td>
                                <td><%= data[i].superficie; %></td>
                            </tr>
                            <% total_superficie += parseInt(data[i].superficie.split(' ')[0]); %>
                        <%} %>
                        <tr>
                            <th colspan="2">Total superficie cultivee</th>
                            <th><%= total_superficie; %> ha</th>
                        </tr>
                    </table>
                </div>

                <div class="champs_cards_container">
                    <% for(let i=0; i<data.length; i++) { %>

                        <% let id_champs = data[i].id; %>

                        <div class="culture_card" id="Champs_No_<%= data[i].id %>">
                            <a href="/champs?id_champs=<%= id_champs %>">
                                <h4>Champs No_<%= data[i].id %></h4>
                            </a>
                        </div>
                    <% } %>
                </div>
                   
            </div>

        </div>
    </div>
    
    <script src="js/index.js"></script>
    
</body>
</html>