<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>culture</title>
    <link rel="stylesheet" href="css/culture.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

    <div id="container">
        
        <%- include('../public/composants/page_head.ejs') %>
        
        <div id="page_body">
                
            <%- include('../public/composants/header.ejs') %> 
       
            <div id="champs_container">

                <h1 id="culture_titre"> Champs de <%= data[0].culture %></h1>

                <div id="cultures_cards_container">
                    <% for(let i=0; i<data.length; i++) { %>
                        <div class="culture_card" id="<%= data[i].culture %>_de_<%= data[i].nom_de_lieu %>">
                            <h4><%= data[i].culture %> de <%= data[i].nom_de_lieu %></h4>
                        </div>
                    <% } %>
                </div>
                    

                <div id="details_de_champs">

                    <div id="details_body">
                    </div>
                    <div id="details_foot"></div>
                </div>
            </div>

            
        </div>
    </div>
    
    <script src="js/index.js"></script>
    
</body>
</html>