<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>index</title>
</head>
<body>

    <div id="container">
        
        <%- include('../public/composants/page_head.ejs') %>

        <div id="page_body">

            <%- include('../public/composants/header.ejs') %>

            <div id="sections">

                <% let liste_de_culture_1 = []; %>
                <% let liste_de_culture_2 = []; %>
                <% let cultures_identiques = []; %>
                
                <div id="nav_laterale_container">

                    <div id="nav_laterale_head">

                        <h2 id="nav_laterale_titre">Les champs</h2>

                        <div id="nav_laterale_plus">+</div>

                        <div id="forms_container">
                            
                            <form action="/" method="post" id="form_culture">
                                <span id="form_culture_fermeture">&times</span>
                                <br><br>
                                <div id="form_culture_titre"></div>
                                <br>
                                <div id="form_culture_content">
                                    <input type="hidden" name="id" id="id">
                                    
                                    <label for="id_lieu">id du Lieu</label><br>
                                    <input type="text" name="id_lieu" id="id_lieu">
                                    <br><br>
                                    <label for="culture">Culture</label><br>
                                    <input type="text" name="culture" id="culture">
                                    <br><br>
                                    <label for="superficie">Superficie</label><br>
                                    <input type="text" name="superficie" id="superficie">
                                    <br><br>
                                    <label for="observations">observations de la culture</label><br>
                                    <input type="text" name="observations_de_la_culture" id="observations_de_la_culture">
                                    <br><br>

                                    <input type="submit" id="submit" value="Submit">
                                </div>
                                
                            </form>

                        </div>
                        
                    </div>

                    <div id="nav_laterale_body">
                        <% 
                            for(var i=0; i<data.length; i++) { 
                                liste_de_culture_1.push(data[i]);
                                if(liste_de_culture_2.indexOf(data[i].culture) === -1) { liste_de_culture_2.push(data[i].culture); }
                            }

                            for(let i=0; i<liste_de_culture_2.length; i++) {
                                cultures_identiques.push([liste_de_culture_2[i]]);
                            }

                            for(let i=0; i<cultures_identiques.length; i++) {
                                for(let j=0; j<liste_de_culture_1.length; j++) {
                                    if(cultures_identiques[i][0] === liste_de_culture_1[j].culture) {
                                        cultures_identiques[i].push(liste_de_culture_1[j]);
                                    }
                                }
                                cultures_identiques[i].shift();
                            }
                        %>
                        

                        <ol id="nav_laterale_list">

                            <% for(var i=0; i<liste_de_culture_2.length; i++) { %>

                                <li id=<%= liste_de_culture_2[i] %>>

                                    <span class="culture"><%= liste_de_culture_2[i] %></span> 
                                    <span class="trois_points">&#8942;</span>
                                    <div class="options_container" id="option_<%= i+1 %>">
                                        <div class="champs_options" id="option_<%= i+1 %>">
                                            <p class="modifier_champs" onclick="charger_form_culture('<%= data[i].id %>','<%= data[i].id_lieu %>','<%= data[i].culture %>','<%= data[i].superficie %>','<%= data[i].observations %>')">Modifier</p>
                                            <p class="supprimer_champs" onclick="supprimer('<%= liste_de_culture_2[i].id %>')">Supprimer</p>
                                        </div>
                                    </div>
                                </li>


                            <% } %>

                        </ol>
                    </div>
                </div>

                <div id="asides_container">
                    <h2 id="nom_de_la_culture"></h2>
                    
                    <!-- Chargement des cards -->
                    <div id="cultures_cards_container">
                        <% for(let i=0; i<cultures_identiques.length; i++) { %>
                            <div class="cultures_cards" id="cultures_de_<%= liste_de_culture_2[i] %>">
                                <% for(let j=0; j<cultures_identiques[i].length; j++) { %>
                                    <div class="culture_card">
                                        
                                        <h4><%= cultures_identiques[i][j].culture %> de <%= cultures_identiques[i][j].nom_de_lieu %></h4>

                                    </div>
                                <% } %>
                            </div>
                            
                        <% } %>

                    </div>

                    <!-- Affichage des cards -->

                    <div id="image_de_localite"><img src="/images/localites/guinee.jpg" alt=""></div>    
                    <hr> 
                

                    <div id="details_de_champs_container">
                        <div id="details_de_champs">
                            <div id="details_head"></div>
                            <div id="details_body"><%- include("accueil") %></div>
                            <div id="details_foot"></div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
        <div id="page_foot"></div>

    </div>
    
    <script src="js/index.js"></script>
    
</body>
</html>