<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>journal</title>
    <link rel="stylesheet" href="css/journal.css">
    <link rel="stylesheet" href="css/class.css">
</head>
<body>
    <div id="container">

        <%- include('../public/composants/page_head.ejs') %>

        <div class="page_body">

            <%- include('../public/composants/header.ejs') %> 

            <%
                let lieu = data[0].village;
                let id_lieu = data[0].id_lieu;
                let champ = data[0].culture+' de '+data[0].village;
                let etape = data[0].etape;
            %>

            <h2 id="culture_titre">Champs de <%= culture %> de <%= lieu %></h2>
            <h3 class="culture_sous_titre" id="culture_info_titre">Champs No_<%= id_champs %></h3>
            
            <%- include('../public/composants/onglet.ejs') %> 
        
            <h1 id="nom_de_la_culture">Fiche des Travaux journaliers</h1><br>

            <div class="culture_fiches" id="culture_fiche_info">
                <form action="/travaux" method="POST">

                    
                    <input type="hidden" name="id_lieu"   id="<%= id_lieu %>>"   value="<%= id_lieu %>">
                    <input type="hidden" name="lieu"      id="<%= lieu %>>"      value="<%= lieu %>">
                    <input type="hidden" name="culture"   id="<%= culture %>>"   value="<%= culture %>">
                    <input type="hidden" name="id_champs" id="<%= id_champs %>>" value="<%= id_champs %>">


                    <label for="etape">Dans le champs No_<%= id_champs %> de la culture de <%= culture %> de <%= lieu %>, nous sommes a l'Etape de : </label>
                    <select type="text" name="etape" id="etape">
                            <option value=""></option>
                            <option value=1>Preparation du terrain</option>
                            <option value=2>Semis</option>
                            <option value=3>Travaux d'entretient</option>
                            <option value=4>Recolte</option>
                    </select><br>

                    <label for="date">A la Date de :</label>
                    <input type="text" name="date" id="date" value="<%=  %>">

                    <label for="quantite">un volume de travail de :</label>
                    <input type="text" name="quantite" id="quantite" value=""

                    <label for="travail">ha de :</label>
                    <input type="text" name="travail" id="travail" value="">

                    <label for="moyen">a ete effectue au moyen de :</label>
                    <input type="text" name="moyen" id="moyen" value="">

                    <label for="personnel">par :</label>
                    <input type="text" name="personnel" id="personnel" value="">

                    <label for="duree">personnes en une duree de :</label>
                    <input type="text" name="duree" id="duree" value="">

                    <label for="cout">jour avec un cout total de :</label>
                    <input type="text" name="cout" id="cout" value="">
                    <label> FG </label><br><br><br>

                    <input type="submit" name="submit" id="submit" value="Enregistrer">

                </form>
            </div>
        </div>

    </div>
    
    

</body>
</html>