<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projet</title>
    <link rel="stylesheet" href="css/projet.css">
    <link rel="stylesheet" href="css/class.css">
</head>
<body>

    <div id="container">

        <%- include('../public/composants/page_head.ejs') %>
<%= console.log(data) %>
        <div class="page_body">

            <%- include('../public/composants/header.ejs') %> 

            <!-- Tri des taches et calcul des couts -->

            <% let taches_1 = []; %>
            <% let taches_2 = []; %>
            <% let taches_3 = []; %>
            <% let taches_4 = []; %>

            <% let total_personnel_1 = 0; %>
            <% let total_cout_1 = 0; %>
            <% let total_personnel_2 = 0; %>
            <% let total_cout_2 = 0; %>
            <% let total_personnel_3 = 0; %>
            <% let total_cout_3 = 0; %>
            <% let total_personnel_4 = 0; %>
            <% let total_cout_4 = 0; %>
            
            <% let totaux_personnel = 0; %>
            <% let totaux_cout = 0; %>


            <% for(let i=0; i<data.length; i++) {

                if(data[i].id_etapes === 1) { 
                    taches_1.push(data[i]);
                    if(data[i].personnel != null) { total_personnel_1 += data[i].personnel; total_cout_1 += data[i].cout; }
                }
                if(data[i].id_etapes === 2) { 
                    taches_2.push(data[i]); 
                    if(data[i].personnel != null) { total_personnel_2 += data[i].personnel; total_cout_2 += data[i].cout; }
                }
                if(data[i].id_etapes === 3) { 
                    taches_3.push(data[i]); 
                    if(data[i].personnel != null) { total_personnel_3 += data[i].personnel; total_cout_3 += data[i].cout; }
                }
                if(data[i].id_etapes === 4) { 
                    taches_4.push(data[i]); 
                    if(data[i].personnel != null) { total_personnel_4 += data[i].personnel; total_cout_4 += data[i].cout; }
                }

            } %>

            <% totaux_personnel = total_personnel_1 + total_personnel_2 + total_personnel_3 + total_personnel_4 %>
            <% totaux_cout = total_cout_1 + total_cout_2 + total_cout_3 + total_cout_4 %>

            <div id="projet_titre">
                <h2>Projet No_<%= id_champs %> :</h2>
                <h1> <%= data[0].projet_name %></h1>
            </div>
            

            <center>
                <table> 
                    <tr>
                        <tr id="tr_1">
                            <th>No </th>
                            <th>Taches</th>
                            <th>Duree</th>
                            <th>Debut</th>
                            <th>Fin</th>
                            <th>Moyen</th>
                            <th class="colonne_vide" width="16"></th>
                            <th>Personnel</th>
                            <th>Cout</th>
                        </tr>
                    </tr>

                    <% if(taches_1.length != 0) { %> 
                        <tr>
                            <th class="th_etape"><%= taches_1[0].no %></th>
                            <th class="th_etape"><%= taches_1[0].taches %></th>
                            <th class="th_etape"><%= taches_1[0].duree %></th>
                            <th class="th_etape"><%= taches_1[0].debut %></th>
                            <th class="th_etape"><%= taches_1[0].fin %></th>
                            <th class="th_etape"><%= taches_1[0].moren %></th>
                            <th class="th_etape colonne_vide"></th>
                            <th class="th_etape td_chifre"><%= total_personnel_1 %></th>
                            <th class="th_etape td_chifre"><%= total_cout_1 %></th>
                        </tr>
                        <tr><td class="td_vide"></td></tr>
                        <% for(let i=1; i<taches_1.length; i++) { %>
                            <tr>
                                <td><%= taches_1[i].no %></td>
                                <td><%= taches_1[i].taches %></td>
                                <td><%= taches_1[i].duree %></td>
                                <td><%= taches_1[i].debut %></td>
                                <td><%= taches_1[i].fin %></td>
                                <td><%= taches_1[i].moyen %></td>
                                <td class="colonne_vide"></td>
                                <td class="td_chifre"><%= taches_1[i].personnel %></td>
                                <td class="td_chifre"><%= taches_1[i].cout %></td>
                            </tr>
                        <% } %>
                    <% } %>
                    

                    <% if(taches_2.length != 0) { %> 
                        <tr>
                            <th class="th_etape"><%= taches_2[0].no %></th>
                            <th class="th_etape"><%= taches_2[0].taches %></th>
                            <th class="th_etape"><%= taches_2[0].duree %></th>
                            <th class="th_etape"><%= taches_2[0].debut %></th>
                            <th class="th_etape"><%= taches_2[0].fin %></th>
                            <th class="th_etape"><%= taches_1[0].moren %></th>
                            <th class="th_etape colonne_vide"></th>
                            <th class="th_etape td_chifre"><%= total_personnel_2 %></th>
                            <th class="th_etape td_chifre"><%= total_cout_2 %></th>
                        </tr>
                        <tr><td class="td_vide"></td></tr>
                        <% for(let i=1; i<taches_2.length; i++) { %>
                            <tr>
                                <td><%= taches_2[i].no %></td>
                                <td><%= taches_2[i].taches %></td>
                                <td><%= taches_2[i].duree %></td>
                                <td><%= taches_2[i].debut %></td>
                                <td><%= taches_2[i].fin %></td>
                                <td><%= taches_2[i].moyen %></td>
                                <td class="colonne_vide"></td>
                                <td class="td_chifre"><%= taches_2[i].personnel %></td>
                                <td class="td_chifre"><%= taches_2[i].cout %></td>
                            </tr>
                        <% } %>
                    <% } %>
                    

                    <% if(taches_3.length != 0) { %> 
                        <tr>
                            <th class="th_etape"><%= taches_3[0].no %></th>
                            <th class="th_etape"><%= taches_3[0].taches %></th>
                            <th class="th_etape"><%= taches_3[0].duree %></th>
                            <th class="th_etape"><%= taches_3[0].debut %></th>
                            <th class="th_etape"><%= taches_3[0].fin %></th>
                            <th class="th_etape"><%= taches_1[0].moren %></th>
                            <th class="th_etape colonne_vide"></th>
                            <th class="th_etape td_chifre"><%= total_personnel_3 %></th>
                            <th class="th_etape td_chifre"><%= total_cout_3 %></th>
                        </tr>
                        <tr><td class="td_vide"></td></tr>
                        <% for(let i=1; i<taches_3.length; i++) { %>
                            <tr>
                                <td><%= taches_3[i].no %></td>
                                <td><%= taches_3[i].taches %></td>
                                <td><%= taches_3[i].duree %></td>
                                <td><%= taches_3[i].debut %></td>
                                <td><%= taches_3[i].fin %></td>
                                <td><%= taches_3[i].moyen %></td>
                                <td class="colonne_vide"></td>
                                <td class="td_chifre"><%= taches_3[i].personnel %></td>
                                <td class="td_chifre"><%= taches_3[i].cout %></td>
                            </tr>
                        <% } %>
                    <% } %>
                    

                    <% if(taches_4.length != 0) { %> 
                        <tr>
                            <th class="th_etape"><%= taches_4[0].no %></th>
                            <th class="th_etape"><%= taches_4[0].taches %></th>
                            <th class="th_etape"><%= taches_4[0].duree %></th>
                            <th class="th_etape"><%= taches_4[0].debut %></th>
                            <th class="th_etape"><%= taches_4[0].fin %></th>
                            <th class="th_etape"><%= taches_1[0].moren %></th>
                            <th class="th_etape colonne_vide"></th>
                            <th class="th_etape td_chifre"><%= total_personnel_4 %></th>
                            <th class="th_etape td_chifre"><%= total_cout_4 %></th>
                        </tr>
                        <tr><td class="td_vide"></td></tr>
                        <% for(let i=1; i<taches_4.length; i++) { %>
                            <tr>
                                <td><%= taches_4[i].no %></td>
                                <td><%= taches_4[i].taches %></td>
                                <td><%= taches_4[i].duree %></td>
                                <td><%= taches_4[i].debut %></td>
                                <td><%= taches_4[i].fin %></td>
                                <td><%= taches_4[i].moyen %></td>
                                <td class="colonne_vide"></td>
                                <td class="td_chifre"><%= taches_4[i].personnel %></td>
                                <td class="td_chifre"><%= taches_4[i].cout %></td>
                            </tr>
                        <% } %>
                    <% } %>
                    <tr><td class="td_vide" id="last_td_vide"></td></tr>
                    <tr>
                        <th colspan="7"></th>
                        <th class="th_totaux td_chifre"><%= totaux_personnel %></th>
                        <th class="th_totaux td_chifre"><%= totaux_cout %></th>
                    </tr>
                </table>
            </center>

        </div>
    </div>
</body>
</html>