<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>travaux</title>
    <link rel="stylesheet" href="css/travaux.css">
    <link rel="stylesheet" href="css/culture.css">
    <link rel="stylesheet" href="css/class.css">
</head>
<body>
    
    <div id="container">
        
        <%- include('../public/composants/page_head.ejs') %>
        <div class="page_body">

            <%- include('../public/composants/header.ejs') %> 
            
            <h1 id="culture_titre">Champs de <%= culture %> de <%= lieu %></h1>

            <div id="culture_onglet">
                <span id="champs_info"><a href="info?lieu=<%= lieu %>&culture=<%= culture %>&id_champs=<%= id_champs %>">Champs info</a></span>
                <span id="travaux"><a href="travaux?lieu=<%= lieu %>&culture=<%= culture %>&id_champs=<%= id_champs %>">Travaux</a></span>
                <span id="comptes"><a href="comptes?lieu=<%= lieu %>&culture=<%= culture %>&id_champs=<%= id_champs %>">Comptes</a></span>
            </div>

          <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
          
            <% let travaux_1 = []; %> 
            <% let travaux_2 = []; %>
            <% let travaux_3 = []; %>
            <% let travaux_4 = []; %>
          
            <% let totaux_1 = 0; %>  <% let totaux_5 = 0; %>  <% let totaux_9 = 0; %>   <% let totaux_13 = 0; %>
            <% let totaux_2 = 0; %>  <% let totaux_6 = 0; %>  <% let totaux_10 = 0; %>  <% let totaux_14 = 0; %>
            <% let totaux_3 = 0; %>  <% let totaux_7 = 0; %>  <% let totaux_11 = 0; %>  <% let totaux_15 = 0; %>
            <% let totaux_4 = 0; %>  <% let totaux_8 = 0; %>  <% let totaux_12 = 0; %>  <% let totaux_16 = 0; %>
          
            
            <% for(let i=0; i<data.length; i++) {
                if(data[i].etape === "Preparation du terrain") { 
                    travaux_1.push(data[i]);

                    totaux_1 += parseInt(data[i].personnel);
                    totaux_2 += parseInt(data[i].quantite.split(' ')[0]);
                    totaux_3 += parseInt(data[i].duree.split(' ')[0]);
                    totaux_4 += parseInt(data[i].cout.split(' ')[0]);
                }
                if(data[i].etape === "Semis") { 
                    travaux_2.push(data[i]); 

                    totaux_5 += parseInt(data[i].personnel);
                    totaux_6 += parseInt(data[i].quantite.split(' ')[0]);
                    totaux_7 += parseInt(data[i].duree.split(' ')[0]);
                    totaux_8 += parseInt(data[i].cout.split(' ')[0]);
                }
                if(data[i].etape === "Travaux d'entretient") { 
                    travaux_3.push(data[i]); 

                    totaux_9 += parseInt(data[i].personnel);
                    totaux_10 += parseInt(data[i].quantite.split(' ')[0]);
                    totaux_11 += parseInt(data[i].duree.split(' ')[0]);
                    totaux_12 += parseInt(data[i].cout.split(' ')[0]);
                }
                if(data[i].etape === "Recolte") { 
                    travaux_4.push(data[i]); 

                    totaux_13 += parseInt(data[i].personnel);
                    totaux_14 += parseInt(data[i].quantite.split(' ')[0]);
                    totaux_15 += parseInt(data[i].duree.split(' ')[0]);
                    totaux_16 += parseInt(data[i].cout.split(' ')[0]);
                }
            } %>
          
          <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->

            <h3 id="culture_info_titre">Travaux du Champs No_<%= id_champs %></h3>

            <div class="culture_fiches" id="culture_fiche_info">
                
                <table id="table_des_travaux">
                    <tr>
                        <td>
                            <table class="table_d_etape">
                                <tr>
                                    <th width="4" class="th_head" style="width: 6rem;">Etapes</th>
                                    <th class="th_head" style="width: 6rem;">Date</th>
                                    <th class="th_head" style="width: 16rem;"> Activites</th>
                                    <th class="th_head" style="width: 4rem;">Quantite</th>
                                    <th class="th_head" style="width: 4rem;">Personnel</th>
                                    <th class="th_head" style="width: 4rem;">Duree</th>
                                    <th class="th_head" style="width: 6rem;">Cout</th>
                                </tr>
                                <tr>
                                    <td width="4" class="etape_libele">Preparation terrain</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <% for(let i=0; i<travaux_1.length; i++) { %>
                                    <tr>
                                        <td width="4"></td>
                                        <td><%= travaux_1[i].date %></td>
                                        <td><%= travaux_1[i].travail %></td>
                                        <td style="text-align: right;"><%= travaux_1[i].quantite %></td>
                                        <td style="text-align: right;"><%= travaux_1[i].personnel %></td>
                                        <td style="text-align: right;"><%= travaux_1[i].duree %></td>
                                        <td style="text-align: right;"><%= travaux_1[i].cout %></td>
                                    </tr>
                                <% } %>
                                <tr>
                                    <th width="4"></th>
                                    <th colspan="3"></th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_1; %></th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_3; %> jour</th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_4; %> FG</th>
                                </tr>
                            </table>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table_d_etape">
                                <tr>
                                    <th width="4" class="th_head" style="width: 6rem;">Etapes</th>
                                    <th class="th_head" style="width: 6rem;">Date</th>
                                    <th class="th_head" style="width: 16rem;"> Activites</th>
                                    <th class="th_head" style="width: 4rem;">Quantite</th>
                                    <th class="th_head" style="width: 4rem;">Personnel</th>
                                    <th class="th_head" style="width: 4rem;">Duree</th>
                                    <th class="th_head" style="width: 6rem;">Cout</th>
                                </tr>
                                <tr>
                                    <td width="4" class="etape_libele">Semis</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <% for(let i=0; i<travaux_2.length; i++) { %>
                                    <tr>
                                        <td width="4"></td>
                                        <td><%= travaux_2[i].date %></td>
                                        <td><%= travaux_2[i].travail %></td>
                                        <td style="text-align: right;"><%= travaux_2[i].quantite %></td>
                                        <td style="text-align: right;"><%= travaux_2[i].personnel %></td>
                                        <td style="text-align: right;"><%= travaux_2[i].duree %></td>
                                        <td style="text-align: right;"><%= travaux_2[i].cout %></td>
                                    </tr>
                                <% } %>
                                <tr>
                                    <th width="4"></th>
                                    <th colspan="3"></th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_5; %></th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_7; %> jour</th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_8; %> FG</th>
                                </tr>
                            </table>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table_d_etape">
                                <tr>
                                    <th width="4" class="th_head" style="width: 6rem;">Etapes</th>
                                    <th class="th_head" style="width: 6rem;">Date</th>
                                    <th class="th_head" style="width: 16rem;"> Activites</th>
                                    <th class="th_head" style="width: 4rem;">Quantite</th>
                                    <th class="th_head" style="width: 4rem;">Personnel</th>
                                    <th class="th_head" style="width: 4rem;">Duree</th>
                                    <th class="th_head" style="width: 6rem;">Cout</th>
                                </tr>
                                <tr>
                                    <td width="4" class="etape_libele">Entretients</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <% for(let i=0; i<travaux_3.length; i++) { %>
                                    <tr>
                                        <td width="4"></td>
                                        <td><%= travaux_3[i].date %></td>
                                        <td><%= travaux_3[i].travail %></td>
                                        <td style="text-align: right;"><%= travaux_3[i].quantite %></td>
                                        <td style="text-align: right;"><%= travaux_3[i].personnel %></td>
                                        <td style="text-align: right;"><%= travaux_3[i].duree %></td>
                                        <td style="text-align: right;"><%= travaux_3[i].cout %></td>
                                    </tr>
                                <% } %>
                                <tr>
                                    <th width="4"></th>
                                    <th colspan="3"></th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_9; %></th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_11; %> jour</th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_12; %> FG</th>
                                </tr>
                            </table>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table_d_etape">
                                <tr>
                                    <th width="4" class="th_head" style="width: 6rem;">Etapes</th>
                                    <th class="th_head" style="width: 6rem;">Date</th>
                                    <th class="th_head" style="width: 16rem;"> Activites</th>
                                    <th class="th_head" style="width: 4rem;">Quantite</th>
                                    <th class="th_head" style="width: 4rem;">Personnel</th>
                                    <th class="th_head" style="width: 4rem;">Duree</th>
                                    <th class="th_head" style="width: 6rem;">Cout</th>
                                </tr>
                                <tr>
                                    <td width="4" class="etape_libele">Recolte</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <% for(let i=0; i<travaux_4.length; i++) { %>
                                    <tr>
                                        <td width="4"></td>
                                        <td><%= travaux_4[i].date %></td>
                                        <td><%= travaux_4[i].travail %></td>
                                        <td style="text-align: right;"><%= travaux_4[i].quantite %></td>
                                        <td style="text-align: right;"><%= travaux_4[i].personnel %></td>
                                        <td style="text-align: right;"><%= travaux_4[i].duree %></td>
                                        <td style="text-align: right;"><%= travaux_4[i].cout %></td>
                                    </tr>
                                <% } %>
                                <tr>
                                    <th width="4"></th>
                                    <th colspan="3"></th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_13; %></th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_15; %> jour</th>
                                    <th class="th_foot" style="text-align: right;"><%= totaux_16; %> FG</th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </div>

        </div>
    </div>
</body>
</html>